.group
  = f.label :name, t("activerecord.attributes.forum.name", :default => "Name"), :class => :label
  = f.text_field :name, :class => 'text_field'
  %span.description
.group
  = f.label :description, t("activerecord.attributes.forum.description", :default => "Description"), :class => :label
  = f.text_area :description, :class => 'text_area'
  %span.description 
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), forums_path, :class => "text_button_padding link_button"
