.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_forums_path
      %li.active= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_forum_path
  .content
    %h2.title
      = t("web-app-theme.new", :default => "New")
      Forum
    .inner
      = form_for :forum, :url => admin_forums_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'shared/sidebar')
